# Load packages

In [ ]:
#pip install pandas

In [169]:
import pandas as pd

In [170]:
#path="result_1.csv" #Please insert correct file input name

#data=pd.read_csv(path, header=None)

In [171]:
!cd /home2/lumpi/Projects/single-cell_samantha/code/scripts

In [172]:
!pwd

/home2/lumpi/Projects/single-cell_samantha/code/scripts/Seurat_PFA_pipeline/06_PFA/01_Prepare_Data_Set

# Load the counts stored from the group selection of the adata object

In [191]:
import pandas as pd

# Define the path to the CSV file
path = "/home2/lumpi/Projects/single-cell_samantha/data/output.csv"

# Read the CSV file, without considering any row as header initially, and using low_memory=False
#data = pd.read_csv(path, header=None, low_memory=False)
data = pd.read_csv(path, low_memory=False)

data

,Unnamed: 0,AAACCCAGTAGGCTCC-1,AAACCCAGTCGCAACC-1,AAACCCATCCACAAGT-1,AAACGCTTCACTACGA-1,AAAGAACAGATACAGT-1,AAAGAACAGTAATCCC-1,AAAGAACGTCGCGGTT-1,AAAGAACTCACGGGCT-1,AAAGAACTCCACCTCA-1,...,TCGCTCAAGAGAGTGA-1,TCTTGCGCAAGAGCTG-1,TGAATCGAGTCACGCC-1,TGCCGAGTCTCGTGAA-1,TGCGACGCAGTCGGTC-1,TGGGAGACATCCCGTT-1,TTACAGGGTTCTCACC-1,TTCATTGCACGGCACT-1,TTGAACGGTTGGTAGG-1,TTGCGTCTCCCATAGA-1
0,Label,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,HES4,1.583742,1.817618,0.00000,1.823131,1.036066,1.708302,1.218650,1.434641,0.535934,...,1.970044,2.733043,1.694217,2.362641,1.899178,3.952191,1.624724,0.896253,0.000000,0.000000
2,ISG15,0.000000,0.000000,0.00000,0.000000,0.000000,0.918898,0.000000,0.725636,0.000000,...,0.000000,1.166971,0.908579,0.553839,0.758973,0.000000,0.000000,0.000000,0.000000,0.000000
3,C1QTNF12,0.000000,2.106576,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,TNFRSF9,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,PNMA5,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1612,BGN,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.407443,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1613,ATP2B3,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1614,L1CAM,0.000000,0.000000,0.00000,0.712088,0.000000,0.000000,0.784499,0.000000,0.000000,...,0.000000,1.166971,0.000000,0.000000,2.191940,0.000000,1.962280,0.896253,0.000000,0.000000
1615,MT-CO2,3.963516,3.207734,4.12172,4.241672,4.065095,3.530574,4.827483,4.638028,4.378318,...,5.613370,4.753909,5.446754,4.836650,4.658895,4.907056,3.515007,4.477613,4.970865,3.875414

# Adjust columns to the PFA format

In [192]:
# Manually set the first row as the header
data.columns = data.iloc[0].astype(str)

# Drop the first two rows now that headers are set
data = data.drop([0])

# Reset the index of the DataFrame
data.reset_index(drop=True, inplace=True)

data

,Label,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0,HES4,1.583742,1.817618,0.00000,1.823131,1.036066,1.708302,1.218650,1.434641,0.535934,...,1.970044,2.733043,1.694217,2.362641,1.899178,3.952191,1.624724,0.896253,0.000000,0.000000
1,ISG15,0.000000,0.000000,0.00000,0.000000,0.000000,0.918898,0.000000,0.725636,0.000000,...,0.000000,1.166971,0.908579,0.553839,0.758973,0.000000,0.000000,0.000000,0.000000,0.000000
2,C1QTNF12,0.000000,2.106576,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,TNFRSF9,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,LINC01647,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,PNMA5,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1611,BGN,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.407443,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1612,ATP2B3,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1613,L1CAM,0.000000,0.000000,0.00000,0.712088,0.000000,0.000000,0.784499,0.000000,0.000000,...,0.000000,1.166971,0.000000,0.000000,2.191940,0.000000,1.962280,0.896253,0.000000,0.000000
1614,MT-CO2,3.963516,3.207734,4.12172,4.241672,4.065095,3.530574,4.827483,4.638028,4.378318,...,5.613370,4.753909,5.446754,4.836650,4.658895,4.907056,3.515007,4.477613,4.970865,3.875414

In [193]:
!pwd

/home2/lumpi/Projects/single-cell_samantha/code/scripts/Seurat_PFA_pipeline/06_PFA/01_Prepare_Data_Set

In [194]:
gene_names=pd.DataFrame({'gene_names': list(data.iloc[:,0])})
expression_data=data.iloc[:,1:]

In [224]:
expression_data

,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0,1.583742,1.817618,0.00000,1.823131,1.036066,1.708302,1.218650,1.434641,0.535934,1.293195,...,1.970044,2.733043,1.694217,2.362641,1.899178,3.952191,1.624724,0.896253,0.000000,0.000000
1,0.000000,0.000000,0.00000,0.000000,0.000000,0.918898,0.000000,0.725636,0.000000,0.842517,...,0.000000,1.166971,0.908579,0.553839,0.758973,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,2.106576,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1611,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.407443,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1612,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1613,0.000000,0.000000,0.00000,0.712088,0.000000,0.000000,0.784499,0.000000,0.000000,0.842517,...,0.000000,1.166971,0.000000,0.000000,2.191940,0.000000,1.962280,0.896253,0.000000,0.000000
1614,3.963516,3.207734,4.12172,4.241672,4.065095,3.530574,4.827483,4.638028,4.378318,4.977564,...,5.613370,4.753909,5.446754,4.836650,4.658895,4.907056,3.515007,4.477613,4.970865,3.875414

In [195]:
gene_names.to_csv('/home2/lumpi/Projects/single-cell_samantha/data/gene_names.csv',index=False)
expression_data.to_csv('/home2/lumpi/Projects/single-cell_samantha/data/PFA_analysis_data.csv',index=False, header=True)

# Error testing

## Compare gene positions of the dataframe gene_names and expression_data

### Gene position in gene_names

In [196]:
gene_names

     gene_names
0          HES4
1         ISG15
2      C1QTNF12
3       TNFRSF9
4     LINC01647
...         ...
1610      PNMA5
1611        BGN
1612     ATP2B3
1613      L1CAM
1614     MT-CO2

[1615 rows x 1 columns]

In [206]:
#gene_names['LINC02223']
gene_names.index[gene_names['gene_names'] == 'LINC02223'].tolist()

[468]

In [207]:
gene_names.iloc[468]

gene_names    LINC02223
Name: 468, dtype: object

### Get position and average expression level in expression_data and data

##### Expression at position X of expresison data

In [225]:
df = expression_data.transpose()

In [226]:
df

,0,1,2,3,4,5,6,7,8,9,...,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614
0,,,,,,,,,,,,,,,,,,,,,
0.0,1.583742,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,3.963516
0.0,1.817618,0.0,2.106576,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,3.207734
0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,1.291329,0.0,0.0,0.0,0.000000,4.121720
0.0,1.823131,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.712088,0.0,0.0,0.0,0.712088,4.241672
0.0,1.036066,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.646608,0.0,0.0,0.0,0.000000,4.065095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.0,3.952191,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.564739,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,4.907056
1.0,1.624724,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.624724,...,0.0,0.0,0.0,0.0,1.624724,0.0,0.0,0.0,1.962280,3.515007
1.0,0.896253,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.677324,...,0.0,0.0,0.0,0.0,0.896253,0.0,0.0,0.0,0.896253,4.477613
1.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,2.242907,0.0,0.0,0.0,0.000000,4.970865
1.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,3.875414

In [227]:
df.index

Index(['0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       ...
       '1.0', '1.0', '1.0', '1.0', '1.0', '1.0', '1.0', '1.0', '1.0', '1.0'],
      dtype='object', name=0, length=3728)

In [228]:
for col in df.columns:
    # Try converting each column to numeric, coercing errors to NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [229]:
## Group by Index
#average_values = df.groupby(df.iloc[:, 0]).mean()
average_values = df.groupby(df.index).mean()
average_values

,0,1,2,3,4,5,6,7,8,9,...,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614
0,,,,,,,,,,,,,,,,,,,,,
0.0,1.085733,0.432349,0.099713,0.001282,0.0,0.003529,0.073977,0.000264,0.0,0.168158,...,0.049385,0.010732,0.001437,0.017850,0.193643,0.0,0.002460,0.000000,0.278153,4.338054
1.0,1.888560,0.441608,0.036316,0.015554,0.0,0.005827,0.063850,0.000000,0.0,1.161766,...,0.034588,0.149208,0.008304,0.031276,0.712523,0.0,0.163474,0.001944,0.717651,4.311173

In [230]:
#"LINC02223"
#average_column_2 = average_values.iloc[:, 1]
average_column_2 = average_values.iloc[:,468]
average_column_2

0
0.0    0.001320
1.0    0.000732
Name: 468, dtype: float64

In [234]:
## Validate smae location of gene_names and gene name
gene_names.iloc[468]

gene_names    LINC02223
Name: 468, dtype: object

##### Validate Expression at position X of data

In [252]:
data.T
df = data.T
df

,0,1,2,3,4,5,6,7,8,9,...,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614
0,,,,,,,,,,,,,,,,,,,,,
Label,HES4,ISG15,C1QTNF12,TNFRSF9,LINC01647,TNFRSF8,KAZN,SLC25A34-AS1,TMEM82,MFAP2,...,FHL1,FGF13,LINC00632,GABRA3,ZNF185,PNMA5,BGN,ATP2B3,L1CAM,MT-CO2
0.0,1.583742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.963516
0.0,1.817618,0.0,2.106576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.207734
0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.291329,0.0,0.0,0.0,0.0,4.12172
0.0,1.823131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.712088,0.0,0.0,0.0,0.712088,4.241672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.0,3.952191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.564739,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.907056
1.0,1.624724,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.624724,...,0.0,0.0,0.0,0.0,1.624724,0.0,0.0,0.0,1.96228,3.515007
1.0,0.896253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.677324,...,0.0,0.0,0.0,0.0,0.896253,0.0,0.0,0.0,0.896253,4.477613
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.242907,0.0,0.0,0.0,0.0,4.970865
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.875414

In [253]:
df.columns = df.iloc[0].astype(str)
#df = df.drop(['Label'])
df = df[1:]

df

Label,HES4,ISG15,C1QTNF12,TNFRSF9,LINC01647,TNFRSF8,KAZN,SLC25A34-AS1,TMEM82,MFAP2,...,FHL1,FGF13,LINC00632,GABRA3,ZNF185,PNMA5,BGN,ATP2B3,L1CAM,MT-CO2
0,,,,,,,,,,,,,,,,,,,,,
0.0,1.583742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.963516
0.0,1.817618,0.0,2.106576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.207734
0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.291329,0.0,0.0,0.0,0.0,4.12172
0.0,1.823131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.712088,0.0,0.0,0.0,0.712088,4.241672
0.0,1.036066,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.646608,0.0,0.0,0.0,0.0,4.065095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.0,3.952191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.564739,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.907056
1.0,1.624724,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.624724,...,0.0,0.0,0.0,0.0,1.624724,0.0,0.0,0.0,1.96228,3.515007
1.0,0.896253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.677324,...,0.0,0.0,0.0,0.0,0.896253,0.0,0.0,0.0,0.896253,4.477613
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.242907,0.0,0.0,0.0,0.0,4.970865
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.875414

In [254]:
for col in df.columns:
    # Try converting each column to numeric, coercing errors to NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')

/tmp/ipykernel_1158979/2001189178.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col], errors='coerce')

In [266]:
#average_values = df.groupby(df.iloc[:, 0]).mean()
average_values = df.groupby(df.index).mean()
average_values.iloc[:, 467]

0
0.0    0.654341
1.0    2.484578
Name: MYO10, dtype: float64

In [259]:
average_values['LINC02223']

0
0.0    0.001320
1.0    0.000732
Name: LINC02223, dtype: float64