# Load packages

In [ ]:
#pip install pandas

In [318]:
import pandas as pd

In [319]:
#path="result_1.csv" #Please insert correct file input name

#data=pd.read_csv(path, header=None)

In [320]:
!cd /home2/lumpi/Projects/single-cell_samantha/code/scripts

In [321]:
!pwd

/home2/lumpi/Projects/single-cell_samantha/code/scripts/Seurat_PFA_pipeline/06_PFA/01_Prepare_Data_Set

# Load the counts stored from the group selection of the adata object

In [322]:
import pandas as pd

# Define the path to the CSV file
path = "/home2/lumpi/Projects/single-cell_samantha/data/output.csv"

# Read the CSV file, without considering any row as header initially, and using low_memory=False
#data = pd.read_csv(path, header=None, low_memory=False)
data = pd.read_csv(path, low_memory=False)

data

,Unnamed: 0,AAACCCAGTCGCAACC-1,AAACCCATCCACAAGT-1,AAACGCTTCACTACGA-1,AAACGCTTCAGCCTCT-1,AAAGAACAGCCTCGTG-1,AAAGAACAGTAATCCC-1,AAAGAACCAACATCGT-1,AAAGAACTCACGGGCT-1,AAAGGATAGGGCAGGA-1,...,GGCTTGGAGGATTTCC-1,GTAGTACTCCCATGGG-1,GTGCTTCTCGACCACG-1,TACAGGTTCGACGTCG-1,TACGGTATCTCCGCAT-1,TCACGCTGTATTTCGG-1,TGATTCTAGTATGGCG-1,TGGGAAGCAGAACTCT-1,TTACTGTGTCAGGTGA-1,TTACTGTTCAAGGACG-1
0,Label,0.000000,0.00000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,HES4,1.817618,0.00000,1.823131,0.470256,0.880490,1.708302,2.782923,1.434641,1.293195,...,1.903200,1.669628,3.265346,1.495282,3.178177,3.725214,2.590477,0.000000,2.887949,2.921994
2,ISG15,0.000000,0.00000,0.000000,0.470256,0.000000,0.918898,0.866574,0.725636,0.842517,...,0.761490,1.354149,0.985548,1.004410,0.000000,1.778887,1.631599,0.000000,2.027381,0.855341
3,C1QTNF12,2.106576,0.00000,0.000000,0.000000,0.000000,0.000000,0.524357,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.436336,0.414759,0.000000,0.663731,0.000000
4,TNFRSF9,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,PNMA5,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1612,BGN,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1613,ATP2B3,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1614,L1CAM,0.000000,0.00000,0.712088,0.000000,0.880490,0.000000,0.000000,0.000000,0.842517,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1615,MT-CO2,3.207734,4.12172,4.241672,4.708393,4.807613,3.530574,5.400871,4.638028,4.977564,...,3.766632,3.608707,2.968981,2.267112,5.113210,3.927495,3.265235,4.372667,3.238389,3.905570

# Adjust columns to the PFA format

In [323]:
# Manually set the first row as the header
data.columns = data.iloc[0].astype(str)

# Drop the first two rows now that headers are set
data = data.drop([0])

# Reset the index of the DataFrame
data.reset_index(drop=True, inplace=True)

data

,Label,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
0,HES4,1.817618,0.00000,1.823131,0.470256,0.880490,1.708302,2.782923,1.434641,1.293195,...,1.903200,1.669628,3.265346,1.495282,3.178177,3.725214,2.590477,0.000000,2.887949,2.921994
1,ISG15,0.000000,0.00000,0.000000,0.470256,0.000000,0.918898,0.866574,0.725636,0.842517,...,0.761490,1.354149,0.985548,1.004410,0.000000,1.778887,1.631599,0.000000,2.027381,0.855341
2,C1QTNF12,2.106576,0.00000,0.000000,0.000000,0.000000,0.000000,0.524357,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.436336,0.414759,0.000000,0.663731,0.000000
3,TNFRSF9,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,LINC01647,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,PNMA5,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1611,BGN,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1612,ATP2B3,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1613,L1CAM,0.000000,0.00000,0.712088,0.000000,0.880490,0.000000,0.000000,0.000000,0.842517,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1614,MT-CO2,3.207734,4.12172,4.241672,4.708393,4.807613,3.530574,5.400871,4.638028,4.977564,...,3.766632,3.608707,2.968981,2.267112,5.113210,3.927495,3.265235,4.372667,3.238389,3.905570

In [324]:
gene_names=pd.DataFrame({'gene_names': list(data.iloc[:,0])})
expression_data=data.iloc[:,1:]

In [325]:
expression_data

,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
0,1.817618,0.00000,1.823131,0.470256,0.880490,1.708302,2.782923,1.434641,1.293195,2.168690,...,1.903200,1.669628,3.265346,1.495282,3.178177,3.725214,2.590477,0.000000,2.887949,2.921994
1,0.000000,0.00000,0.000000,0.470256,0.000000,0.918898,0.866574,0.725636,0.842517,0.935844,...,0.761490,1.354149,0.985548,1.004410,0.000000,1.778887,1.631599,0.000000,2.027381,0.855341
2,2.106576,0.00000,0.000000,0.000000,0.000000,0.000000,0.524357,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.436336,0.414759,0.000000,0.663731,0.000000
3,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1611,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1612,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1613,0.000000,0.00000,0.712088,0.000000,0.880490,0.000000,0.000000,0.000000,0.842517,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1614,3.207734,4.12172,4.241672,4.708393,4.807613,3.530574,5.400871,4.638028,4.977564,5.008894,...,3.766632,3.608707,2.968981,2.267112,5.113210,3.927495,3.265235,4.372667,3.238389,3.905570

In [326]:
gene_names.to_csv('/home2/lumpi/Projects/single-cell_samantha/data/gene_names.csv',index=False)
expression_data.to_csv('/home2/lumpi/Projects/single-cell_samantha/data/PFA_analysis_data.csv',index=False, header=True)

## Compare gene positions of the dataframe gene_names and expression_data

### Gene position in gene_names

In [327]:
gene_names

     gene_names
0          HES4
1         ISG15
2      C1QTNF12
3       TNFRSF9
4     LINC01647
...         ...
1610      PNMA5
1611        BGN
1612     ATP2B3
1613      L1CAM
1614     MT-CO2

[1615 rows x 1 columns]

In [328]:
#gene_names['LINC02223']
gene_names.index[gene_names['gene_names'] == 'LINC02223'].tolist()

[468]

In [329]:
gene_names.iloc[468]

gene_names    LINC02223
Name: 468, dtype: object

### Get position and average expression level in expression_data and data

##### Expression at position X of expresison data

In [330]:
df = expression_data.transpose()

In [331]:
df

,0,1,2,3,4,5,6,7,8,9,...,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614
0,,,,,,,,,,,,,,,,,,,,,
0.0,1.817618,0.000000,2.106576,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,3.207734
0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,1.291329,0.0,0.0,0.0,0.000000,4.121720
0.0,1.823131,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.712088,0.0,0.0,0.0,0.712088,4.241672
1.0,0.470256,0.470256,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.788824,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,4.708393
1.0,0.880490,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.880490,4.807613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.0,3.725214,1.778887,0.436336,0.0,0.0,0.0,0.0,0.0,0.0,0.739104,...,0.0,0.000000,0.0,0.0,1.159430,0.0,0.0,0.0,0.000000,3.927495
1.0,2.590477,1.631599,0.414759,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.414759,0.0,0.0,0.0,0.000000,3.265235
1.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.918248,0.0,0.0,0.0,0.000000,4.372667
1.0,2.887949,2.027381,0.663731,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.663731,0.0,0.0,0.0,0.000000,3.238389
1.0,2.921994,0.855341,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.516463,...,0.0,0.516463,0.0,0.0,1.107990,0.0,0.0,0.0,0.000000,3.905570

In [332]:
df.index

Index(['0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '1.0', '0.0', '0.0', '0.0',
       ...
       '1.0', '0.0', '1.0', '1.0', '0.0', '1.0', '1.0', '1.0', '1.0', '1.0'],
      dtype='object', name=0, length=2522)

In [333]:
for col in df.columns:
    # Try converting each column to numeric, coercing errors to NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [334]:
## Group by Index
#average_values = df.groupby(df.iloc[:, 0]).mean()
average_values = df.groupby(df.index).mean()
average_values

,0,1,2,3,4,5,6,7,8,9,...,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614
0,,,,,,,,,,,,,,,,,,,,,
0.0,1.005989,0.447265,0.086979,0.001551,0.0,0.004747,0.082313,0.000426,0.0,0.173262,...,0.058389,0.013798,0.001958,0.022017,0.213446,0.0,0.001160,0.0,0.306526,4.469176
1.0,1.316032,0.550705,0.102766,0.006046,0.0,0.002260,0.063654,0.000000,0.0,0.219299,...,0.063969,0.023275,0.003766,0.017821,0.296114,0.0,0.001555,0.0,0.324957,4.426175

In [335]:
#"LINC02223"
#average_column_2 = average_values.iloc[:, 1]
average_column_2 = average_values.iloc[:,468]
average_column_2

0
0.0    0.002128
1.0    0.000000
Name: 468, dtype: float64

In [336]:
## Validate smae location of gene_names and gene name
gene_names.iloc[468]

gene_names    LINC02223
Name: 468, dtype: object

##### Validate Expression at position X of data

In [252]:
data.T
df = data.T
df

,0,1,2,3,4,5,6,7,8,9,...,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614
0,,,,,,,,,,,,,,,,,,,,,
Label,HES4,ISG15,C1QTNF12,TNFRSF9,LINC01647,TNFRSF8,KAZN,SLC25A34-AS1,TMEM82,MFAP2,...,FHL1,FGF13,LINC00632,GABRA3,ZNF185,PNMA5,BGN,ATP2B3,L1CAM,MT-CO2
0.0,1.583742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.963516
0.0,1.817618,0.0,2.106576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.207734
0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.291329,0.0,0.0,0.0,0.0,4.12172
0.0,1.823131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.712088,0.0,0.0,0.0,0.712088,4.241672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.0,3.952191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.564739,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.907056
1.0,1.624724,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.624724,...,0.0,0.0,0.0,0.0,1.624724,0.0,0.0,0.0,1.96228,3.515007
1.0,0.896253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.677324,...,0.0,0.0,0.0,0.0,0.896253,0.0,0.0,0.0,0.896253,4.477613
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.242907,0.0,0.0,0.0,0.0,4.970865
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.875414

In [253]:
df.columns = df.iloc[0].astype(str)
#df = df.drop(['Label'])
df = df[1:]

df

Label,HES4,ISG15,C1QTNF12,TNFRSF9,LINC01647,TNFRSF8,KAZN,SLC25A34-AS1,TMEM82,MFAP2,...,FHL1,FGF13,LINC00632,GABRA3,ZNF185,PNMA5,BGN,ATP2B3,L1CAM,MT-CO2
0,,,,,,,,,,,,,,,,,,,,,
0.0,1.583742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.963516
0.0,1.817618,0.0,2.106576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.207734
0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.291329,0.0,0.0,0.0,0.0,4.12172
0.0,1.823131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.712088,0.0,0.0,0.0,0.712088,4.241672
0.0,1.036066,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.646608,0.0,0.0,0.0,0.0,4.065095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.0,3.952191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.564739,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.907056
1.0,1.624724,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.624724,...,0.0,0.0,0.0,0.0,1.624724,0.0,0.0,0.0,1.96228,3.515007
1.0,0.896253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.677324,...,0.0,0.0,0.0,0.0,0.896253,0.0,0.0,0.0,0.896253,4.477613
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.242907,0.0,0.0,0.0,0.0,4.970865
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.875414

In [254]:
for col in df.columns:
    # Try converting each column to numeric, coercing errors to NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')

/tmp/ipykernel_1158979/2001189178.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col], errors='coerce')

In [266]:
#average_values = df.groupby(df.iloc[:, 0]).mean()
average_values = df.groupby(df.index).mean()
average_values.iloc[:, 467]

0
0.0    0.654341
1.0    2.484578
Name: MYO10, dtype: float64

In [259]:
average_values['LINC02223']

0
0.0    0.001320
1.0    0.000732
Name: LINC02223, dtype: float64